name = "BcdiTrad"
uuid = "b788224a-5de6-46e5-9aeb-ad1a5171efd9"
authors = ["Jason Meziere"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
